body {
    background-color: #f5f6f8;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #dedede;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-top: 2rem;
    color: #3a4152;
    background-color: white;
  }
  
  p {
    margin-bottom: 3rem;
  }
  
  .form-group {
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #565d6d;
    font-weight: 600;
  }
  
  input {
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #e7e9ec;
    background-color: #f5f6f8;
    color: #575a63;
  }
  
  .btn {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    border: 0;
    border-radius: 20px;
  }
  
  .btn.red {
    background: #e83283;
    color: white;
  }
  
  .btn.blue {
    background: #39cbfb;
  }
  
  .btn.green {
    background: #41d7a7;
    color: white;
  }
  
  .btn.yellow {
    background: #ffc107;
  }

  ul {
    padding-left: 0;
  }
  
  .list {
    list-style: none;
    border: 1px solid #dedede;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  input {
    margin-right: 1rem;
    opacity: 0.7;
  }
  
  .list.checked span {
    opacity: 0.3;
    text-decoration: line-through;
  }
  
  .feeds {
    font-size: 44px;
  }
  